@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
	  	--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
	  	--popover-foreground: 222.2 84% 4.9%;
	  	--primary: 221.2 83.2% 53.3%;
	  	--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
	 	--secondary-foreground: 222.2 47.4% 11.2%;
	  	--muted: 210 40% 96.1%;
	  	--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
	  	--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 72.22% 50.59%;
	  	--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.3rem;
	}
	  
	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}
}

@layer base {
	@font-face {
		font-family: "geist-sans";
		src: url("/fonts/Geist/geist.woff2") format("woff2");
		font-display: swap;
	}

	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		/* font-feature-settings: "rlig" 1, "calt" 1; */
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}

	.app-content > div:first-of-type {
		margin: 5vh 5vw;
		border: solid 2px hsl(var(--border) / var(--tw-border-opacity, 1));
	}
	
	.max-h-pane {
		max-height: calc(90vh - 4px);
		min-height: calc(90vh - 4px);
	}

	.h-screen-scroll {
		height: calc(90vh - 65px);
	}

	.loading-spinner-wrapper {
		display: flex;
		margin-top: 1rem;
		width: 100%;
	}

	.loading-spinner-content {
		margin-left: auto;
		margin-right: auto;
	}

	.loading-spinner-wrapper > div {
		display: flex;
	}

	.loading-spinner-text {
		align-self: center;
		padding-left: 1rem;
	}

	/* Mobile tap highlight */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
	html {
		-webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
	}

	/* Font face Geist font */

	/* === Scrollbars === */

	::-webkit-scrollbar {
		@apply w-2;
		@apply h-2;
	}

	::-webkit-scrollbar-track {
		@apply !bg-muted;
	}
	::-webkit-scrollbar-thumb {
		@apply !bg-muted-foreground/30 rounded-sm;
	}

	/* Firefox */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-color#browser_compatibility */
	html {
		scrollbar-color: hsl(215.4 16.3% 46.9% / 0.3);
	}

	html.dark {
		scrollbar-color: hsl(215.4 16.3% 56.9% / 0.3);
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.antialised {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@media (max-width: 640px) {
	.container {
		@apply px-4;
	}
}